body {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
   font-size: x-large;
   background-color: black;
   
} 

.center-div {
   margin-left: 5rem;
   margin-right: 5rem; 
   margin-top: 5rem;
   display: flex;
   justify-content: center;
   padding: 2rem;
   background-color: rgba(0, 0, 0, .5);
   color: white;
   
}

.center-text {
   display: block;
   text-align: center;
}

.card {
   border-radius: 10%;
   padding: 1rem;
   margin: 1rem;
   display: inline-flex;
   text-align: center;
   font-size: 1rem;
   
}

.icons i {
   padding: 1rem;
}